#title {
  background-image: url('/LibPhyMT_mu/Main/Chapters/Chapter-7/Lesson-1/Tile/tile_7.png');
}
.title-container #title .tc .inner-box {
      background: rgba(77, 0, 0, 0.231);
      color: #000000;
}
.Subject {
  color: #feffa6;
}
.title-overlay {
    background-color: rgba(93, 92, 35, 0);
}