#title {
  background-image: url('/LibPhyMT_mu/Main/Chapters/Chapter-7/Lesson-1/Tile/til_15.jpg');
}
.title-container #title .tc .inner-box {
      background: rgba(77, 49, 0, 0.231);
      color: #ff9575;
}
.Subject {
  color: #ffcdc4;
}
.title-overlay {
    background-color: rgba(93, 52, 35, 0.365);
}